
<%= render 'partial/navbar' %>

<h2>サインアップ</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render 'partial/deviseErrorMsg' %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, :placeholder => "メール", autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br>
    <%= f.password_field :password, :placeholder => "パスワード", autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation,:placeholder => "パスワード再確認", autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
